* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TODO EL CUERPO */
body {
  background: #fff;
}

/* TODO EL CONTAINER DE LA WEB */
.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/* HEADER */
header {
  background: url("forms/header_curve.png");
  background-repeat: no-repeat;
  height: 1000px;
  background-position: center;
  background-size: cover;
}

/* MENU */
header nav {
  margin-top: 20px;
}

header nav a {
  text-decoration: none;
  border-bottom: transparent;
  color: #aeaeae;
  font-family: "Montserrat", sans-serif;
  font-weight: 700px;
  margin-left: 22px;
  font-size: 18px;
}

header nav a:hover {
  text-decoration: none;
  border-bottom: transparent;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700px;
  margin-left: 22px;
  font-size: 18px;
}

/* CONTENEDOR TITULO CREATIVE ETC */
header .contenedor-titulo h1 {
  margin-top: 165px;
  color: #bababa;
  font-family: "Times New Roman";
  font-size: 100px;
  letter-spacing: -4px;
}

header .contenedor-titulo h1:hover {
  margin-top: 165px;
  color: #ffffff;
  font-family: "Times New Roman";
  font-size: 100px;
  letter-spacing: -4px;
}

header .contenedor-img-header img {
  width: 500px;
  float: right;
  margin-top: -420px;
}

/* ABOUT ME SECCIÓN MAIN */
.about-me {
  margin-top: -250px;
  display: flex;
  height: 950px;
}

.about-me h2 {
  font-family: "Times New Roman";
  font-size: 75px;
  letter-spacing: -4px;
}

.about-me .contenedor-img-aboutme {
  float: left;
  width: 50%;
}

.about-me .contenedor-img-aboutme img {
  width: 450px;
}

.about-me .contenedor-texto-about {
  float: right;
  width: 48%;
  line-height: 28px;
}

.about-me .contenedor-texto-about p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: justify;
  line-height: 29px;
}

.about-me .contenedor-texto-about a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  border: 2px #000000 solid;
  padding: 12px;
}

.about-me .contenedor-texto-about a:hover {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  background: #000000;
  border: 2px #000000 solid;
  padding: 12px;
}

/* WORKS */
.works {
  background: url("forms/works_section.png");
  background-repeat: no-repeat;
  height: 2700px;
  background-position: center;
  background-size: cover;
}

.works h2 {
  color: #bababa;
  font-family: "Times New Roman";
  font-size: 80px;
  margin-top: 90px;
}

.works .flecha {
  color: #bababa;
  font-family: "Times New Roman";
  font-size: 140px;
  margin-top: -150px;
  text-align: center;
  animation-name: scroll-down;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes scroll-down {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 40px, 0);
    opacity: 1;
  }
}
.works .imagen-trabajo1 {
  margin-top: 220px;
}

.works .imagen-trabajo1 .titulo-trabajo1 {
  color: #bababa;
  font-family: "Times New Roman";
  font-size: 33px;
  letter-spacing: -2px;
}

.works .imagen-trabajo1 img {
  margin-top: 10px;
  width: 700px;
}

.works .imagen-trabajo1 p {
  text-align: justify;
  margin-top: 5px;
  color: #bababa;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  width: 700px;
}

/* FOOTER */
footer {
  height: 470px;
}
footer .get-in-touch {
  font-family: "Times New Roman";
  float: left;
  width: 50%;
  font-size: 50px;
  margin-top: 90px;
  background: #fff;
}

footer .correo-e .correo {
  font-family: "Raleway", sans-serif;
  margin-top: 100px;
  float: left;
  width: 50%;
  font-size: 30px;
  text-decoration: underline;
  background: #fff;
}

footer .correo-e .correo:hover {
  font-family: "Raleway", sans-serif;
  margin-top: 100px;
  float: left;
  width: 50%;
  font-size: 30px;
  text-decoration: underline;
  background: rgb(228, 228, 228);
}

footer .correo-e p {
  font-family: "Raleway", sans-serif;
  margin-top: 50px;
  float: left;
  width: 50%;
  font-size: 19px;
  text-align: justify;
  background: #fff;
  line-height: 29px;
}

footer .redes-sociales {
  float: left;
  width: 50%;
  background: #fff;
}

footer .redes-sociales a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #636363;
  display: inline-block;
  margin-left: 60px;
}

footer .redes-sociales a:hover {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #000000;
  display: inline-block;
  margin-left: 60px;
}

footer .with-l {
  margin-top: 40px;
  background: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

footer .with-l span {
  color: rgb(255, 0, 0);
}

/* MEDIA QUERYS RESPONSIVE */

@media only screen and (max-width: 982px) {
  header .contenedor-titulo h1 {
    font-size: 80px;
  }
  header .contenedor-titulo h1:hover {
    font-size: 80px;
  }
  header .contenedor-img-header img {
    width: 400px;
    float: right;
    margin-top: -420px;
  }
  .about-me {
    height: 1020px;
  }
  .about-me h2 {
    text-align: center;
  }
  .about-me .contenedor-img-aboutme {
    width: 100%;
    float: none;
  }
  .about-me .contenedor-img-aboutme img {
    width: 400px;
    margin: 0 auto;
    display: block;
  }
  .about-me .contenedor-texto-about {
    float: none;
    width: 70%;
    margin: 0 auto;
    height: 800px;
  }
  .about-me .contenedor-texto-about p {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
    display: block;
  }
  .about-me .contenedor-texto-about a {
    text-align: center;
    margin: 0px auto 12px auto;
    display: block;
    width: 150px;
  }

  footer {
    height: 710px;
  }
  footer .get-in-touch {
    width: 100%;
    float: none;
  }
  footer .correo-e {
    margin: 0 auto;
    display: block;
  }
  footer .correo-e .correo {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  footer .correo-e p {
    width: 80%;
    float: none;
    display: flex;
  }
  .texto {
    display: none;
  }
  footer .redes-sociales {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  footer .redes-sociales a {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
    display: flex;
    margin-left: 0;
    flex-direction: column;
  }

  footer .redes-sociales a:hover {
    margin-left: 0;
  }
}

@media only screen and (max-width: 787px) {
    .about-me .contenedor-img-aboutme img {
        width: 300px;
        margin: 0 auto;
        display: block;
      }
  .works {
    height: 2500px;
  }
  .works h2 {
    font-size: 70px;
    margin-top: 150px;
  }
  .works .flecha {
    font-size: 120px;
  }
  .works .imagen-trabajo1 .titulo-trabajo1 {
    font-size: 40px;
  }
  .works .imagen-trabajo1 img {
    width: 470px;
  }
  .works .imagen-trabajo1 p {
    font-size: 18px;
    width: 500px;
  }
}

@media only screen and (max-width: 577px) {
  header .contenedor-titulo h1 {
    font-size: 68px;
  }
  header .contenedor-titulo h1:hover {
    font-size: 68px;
  }
  header {
    height: 1140px;
  }
  header .contenedor-img-header img {
    display: none;
  }
  header nav a {
    font-size: 16px;
  }
  
  header nav a:hover {
    font-size: 16px;
  }
  .about-me {
    height: 970px;
    margin-top: -190px;
  }
  .about-me h2 {
    font-size: 65px;
    letter-spacing: -4px;
  }
  .about-me .contenedor-texto-about {
    width: 80%;
  }
  .works{
      height: 2300px;
  }
  .works .flecha {
    font-size: 100px;
    margin-top: 0px;
  }
  .works .imagen-trabajo1 .titulo-trabajo1 {
    font-size: 26px;
  }
  .works .imagen-trabajo1 img {
    margin-top: 10px;
    width: 350px;
  }
  .works .imagen-trabajo1 p {
    text-align: justify;
    margin-top: 5px;
    color: #bababa;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    width: 355px;
  }
  footer {
    height: 800px;
  }
  footer .get-in-touch {
    font-size: 35px;
    margin-top: 100px;
  }
  footer .correo-e .correo {
    font-size: 25px;
    text-decoration: underline;
  }
  footer .correo-e .correo:hover {
    font-size: 25px;
    text-decoration: underline;
    background: rgb(228, 228, 228);
  }

  
}

@media only screen and (max-width: 394px) {
  header .contenedor-titulo h1 {
    font-size: 60px;
  }
  header .contenedor-titulo h1:hover {
    font-size: 60px;
  }
  header {
    height: 1170px;
  }
  header .contenedor-img-header img {
    display: none;
  }
  header nav a {
    font-size: 16px;
  }
  
  header nav a:hover {
    font-size: 16px;
  }
  .about-me {
    height: 1070px;
    margin-top: -190px;
  }
  .about-me h2 {
    font-size: 55px;
    letter-spacing: -4px;
  }
  .about-me .contenedor-texto-about {
    width: 90%;
  }
  .works{
      height: 2300px;
  }
  .works .flecha {
    font-size: 80px;
    margin-top: 0px;
  }
  .works .imagen-trabajo1 .titulo-trabajo1 {
    font-size: 28px;
  }
  .works .imagen-trabajo1 img {
    margin-top: 10px;
    width: 310px;
  }
  .works .imagen-trabajo1 p {
    text-align: justify;
    margin-top: 5px;
    color: #bababa;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    width: 286px;
  }
  footer {
    height: 800px;
  }
  footer .get-in-touch {
    font-size: 30px;
    margin-top: 100px;
  }
  footer .correo-e .correo {
    font-size: 21px;
    text-decoration: underline;
  }
  footer .correo-e .correo:hover {
    font-size: 21px;
    text-decoration: underline;
    background: rgb(228, 228, 228);
  }

  
}
